<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
    <script>
        function validateForm() {
            var fileInput = document.getElementById('myfile');
            if (!fileInput.value) {
                alert("Please select a file to upload.");
                return false;
            }
            else{
                alert("File uploaded succesfully");
            }
            return true;
        }
    </script>
</head>

<body>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="background-color: lightyellow; width: 100%; padding: 30px; text-align:center"></h1>
        <hr style="width:100%;text-align:center;margin-top:0;background-color: yellow;">
        <br>
        <br>
        <hr>
    </div>
    <br><br>
    <div class="form-container">
        <form method="POST" id="myform" enctype="multipart/form-data" onsubmit="return validateForm()">
            {% csrf_token %}
            <div>
                
                <div>
                    
                    <label>select</label>
                    <input type="file" id="myfile" name="myfile" accept=".jpg,.mp4"> 
                </div>
                
                <div>
                    <br>
                    <button type="button" onclick="window.history.back()">Back</button>
                    &nbsp&nbsp
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>



